{% extends 'RecipeBundle::layout.html.twig' %}

{% block body %}
    <h1>Tag Groups</h1>
    <div class="list">
        {% for tagGroup in tagGroups %}
            <div class="row">
                <div class="medium-6 columns">
                    <td>{{ tagGroup.name }}</td>
                </div>
                <div class="medium-6 columns">
                    <a class="button round secondary" href="{{ path('admin_tag_group_edit', { 'id': tagGroup.id }) }}">edit</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="button-bar">
        <a class="button round success" href="{{ path('admin_tag_group_new') }}">Create</a>
    </div>
{% endblock %}
